:root{
    --main-color: #6ec6ff;      /* Light Blue */
    --secondary-color: #ff7a7a; /* Soft Red */
    --background-color: #f4f9ff;
    --text-color: #333;
}

body{
    font-family: Arial, sans-serif;
    margin:0;
    background: var(--background-color);
    color: var(--text-color);
}

/* Header */
header{
    background: var(--main-color);
    color: white;
    padding: 15px;
}

/* Navigation links */
nav a{
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

/* Buttons */
button{
    background: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Sections */
section{
    padding: 40px;
}

/* Footer */
footer{
    background: var(--main-color);
    color: white;
    text-align: center;
    padding: 20px;
}
